<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Prekės naikinimas</p>
        <br/>
        <a href="/">Pagrindinis puslapis</a>
        <br/>
        <a asp-action="Index" asp-controller="Preke">Prekės peržiūra</a>
    </div>
</body>
</html>