<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<p>Prekės peržiūra</p>
	<a asp-action="Index" asp-controller="Prekes">Prekių sąrašas</a>
	<br/>
	<a asp-action="Edit" asp-controller="Preke">Atnaujinti prekę</a>
	<br/>
	<a asp-action="Delete" asp-controller="Preke">Naikinti prekę</a>
	<br/>
	<a asp-action="Index" asp-controller="Komentaras">Rašyti komentarą</a>
	<br/>
	<a asp-action="Create" asp-controller="Uzsakymas">Užsakymo kūrimas</a>
</body>
</html>