<html>
    <body>
        <div>
            <p>Prisijungimas</p>
            <a href="/">Pagrindinis</a>
            <br>
            <a asp-action="Index" asp-controller="Prekes">Prekių sąrašas</a>
      </div>
    </body>
</html>