@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.NaudotojoEditVM

@{
    ViewData["title"] = "Prisijungta";
}

<html>
<body>
    <div>
        <p> Sėkmingai prisijungta !</p>
        <a href="/Prekes">Prekių sąrašas</a>
        <br></br>

    </div>
</body>
</html>