<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>U탑sakym킬 ataskaitos generavimas</p>
        <a href="/">Pagrindinis puslapis</a>
        <br></br>
        <a asp-action="Report" asp-controller="Ataskaita">U탑sakym킬 ataskaita</a>
    </div>
</body>
</html>