@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Model.Prekes>
@{
	ViewData["title"] = "Sutarties būsenos";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Prekių sąrašas</p>
        <a href="/">Pagrindinis</a>
        <br></br>
        <a asp-action="Index" asp-controller="AdministratoriausPuslapis">Administratoriaus puslapis</a>
        <br></br>
        <a asp-action="Index" asp-controller="Klientas">Kliento profilis</a>
        <br/>
        <a asp-action="Index" asp-controller="Preke">Prekės peržiūra</a>
    </div>
</body>
</html>