@using System.Web;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administratoriaus puslapis</title>
</head>
<body>
    <div>
        <p>Administratoriaus puslapis</p>
        <a href="/">Pagrindinis puslapis</a>
        <br></br>
        <a asp-action="Generate" asp-controller="Ataskaita">Užsakymų ataskaitos generavimas</a>
        <br></br>
        @{
            var kazkas = Context.Session.GetInt32("privilegijos");
            if (kazkas == 2)
            {
                <a href="/Naudotojas/Create">Naudotojo kūrimo puslapis</a>
            }
            else
            {
                <p> Neturite pakankamų teisių, jog galėtumete kurti naudotojus</p>
            }
        }
        <br></br>
      </div>
</body>
</html>