<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administratoriaus puslapis</title>
</head>
<body>
    <div>
        <p>Administratoriaus puslapis</p>
        <a href="/">Pagrindinis puslapis</a>
        <br></br>
        <a asp-action="Generate" asp-controller="Ataskaita">Užsakymų ataskaitos generavimas</a>
        <br></br>
        <a asp-action="Create" asp-controller="Klientas">Kliento kūrimas</a>
        <br></br>
        <a asp-action="Create" asp-controller="Preke">Prekės kūrimas</a>
      </div>
</body>
</html>