<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <appsettings>
            <add key="RotativaKey" value="48a83b02f2dd4e628f760b38506586bf" />
            <add key="RotativaUrl" value="https://eunorth.rotativahq.com" />
        </appsettings>
    </system.web>
</configuration>
