@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.NaudotojoEditVM

@{
	ViewData["title"] = "Elektroninis paštas patvirtintas";
}

<html>
    <body>
        <div>
            <a href="/">Pagrindinis</a>
            <br></br>
            <p>Prisijungimas:</p>
            <a href="/prisijungimas">Prisijungimas</a>
      </div>
    </body>
</html>