<html>
    <body>
        <div>
            <p>Registracija</p>
            <a href="/">Pagrindinis</a>
            <br></br>
            <a href="/prisijungimas">Prisijungimas</a>
      </div>
    </body>
</html>