@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Models.Parduotuves>
@{
	ViewData["title"] = "Parduotuvės";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Sukurti naują</a>
	</span>
</div>