@{
	/// <summary>
	/// Helper for marking active links in main menu.
	/// </summary>
	/// <param name="ctrl">Controller to look for.</param>
	/// <param name="act">Action to look for. Pass null if action does not matter.</param>
	/// <returns>If controller and (optionally) action match given ones returns "active". Returns empty string otherwise.</returns>
	string MarkActive(string ctrl, string act = null)
	{
		//get current controller and action
		var curCtrl = (string)ViewContext.RouteData.Values["Controller"];
		var curAct = (string)ViewContext.RouteData.Values["Action"];

		//compare to given ones
		if( curCtrl == ctrl && (act == null || curAct == act) )
			return "active";
		return "";
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Kliento profilio puslapis</p>
        <br></br>
        @{
            var editVar = Context.Session.GetInt32("id");
            <a href="/Naudotojas/Edit/@editVar">Kliento atnaujinimo puslapis</a>
        }
        <br></br>
        <br></br>
        @{
            var deleteVar = Context.Session.GetInt32("id");
            <a href="/Naudotojas/Delete/@deleteVar">Kliento naikinimo puslapis</a>
        }
        <br></br>
        <div class="main-content-footer container-fluid d-flex d-row align-items-center">
            <span class="title"></span>
            <span class="actions">
                <a href="@Url.Action("Index", "Uzsakymas")" class="link-primary"><i class="fa-solid fa-angles-right"></i> Užsakymai</a>
            </span>
        </div>
        
      </div>
</body>
</html>