<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Kliento profilio puslapis</p>
        <br></br>
        <p>Kliento atnaujinimo puslapis</p>
        <a asp-action="Edit" asp-controller="Klientas">Kliento atnaujinimas</a>
        <br></br>
        <p>Kliento naikinimo puslapis</p>
        <a asp-action="Delete" asp-controller="Klientas">Kliento naikinimas</a>
        <br></br>
        <p>Užsakymo peržiūros puslapis</p>
        <a asp-action="Index" asp-controller="Uzsakymas">Užsakymo peržiūra</a>
      </div>
</body>
</html>